.card {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 0.8rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 1rem 0;
  transition: transform 0.2s ease;
  text-align: center;
  width: 55%;
  min-height: 500px;
  padding: 8px 20px 20px 20px;
}

.card:hover {
  transform: scale(1.01);
}

.card h3 {
  margin: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.chart-container {
  height: 31rem;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.filter-container {
  margin-bottom: 0.5rem;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.filter-container label {
  font-weight: 600;
}

.filter-container select {
  padding: 6px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: white;
  font-size: 14px;
  cursor: pointer;
  transition: border-color 0.2s ease;
}

.filter-container select:hover {
  border-color: #66c2a5;
}

.filter-container select:focus {
  outline: none;
  border-color: #339977;
  box-shadow: 0 0 3px #66c2a5;
}

@media (max-width: 768px) {
  .card {
    height: 36rem;
    width: 100%;
    padding: 0.3rem;
  }
  .chart-container {
    height: 31rem;
  }
}
