.info-card-small {
  background-color: white;
  padding: 20px;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  min-width: 150px;
  flex: 1;
}

.info-icon {
  font-size: 2rem;
  margin-bottom: 10px;
}

.info-content h3 {
  margin: 0;
  font-size: 1.2rem;
  color: black;
}

.info-value {
  margin: 8px 0;
  font-size: 2rem;
  font-weight: bold;
  color: var(--green);
}

.info-subtitle {
  font-size: 0.9rem;
  color: gray;
}
