
.dropdown-list {
  background-color: rgb(var(--light-gray), 0.3);
  text-align: right;
  padding: 0.3rem 0.5rem;
  border-radius: 0 0 0.5rem 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-list > *:first-child {
  margin-top: 0;
}
