.content-layout {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 25px 35px;
  background-color: whitesmoke;
}

.content-header {
  margin-bottom: 1rem;
}

.content-header .header-title h2 {
  margin: 0;
  font-weight: 600;
}

.info-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.info-cards > div {
  display: flex;
  gap: 20px;
  width: 100%;
}

.info-cards > div > * {
  flex: 1 1 33.33%;
  box-sizing: border-box;
}

.content-charts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}
