.sidebar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: var(--green);
  color: white;
  width: 19%;
  padding: 1rem;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  font-style: normal;
}

.sidebar-menus {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: stretch;
  justify-content: flex-start;
  gap: 1rem;
  width: 100%;
}

.sidebar a {
  color: rgba(var(--dark-gray),0.9);
  text-decoration: none;
  padding: 0.3rem;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.sidebar a:hover,
.sidebar a:focus {
  background-color: rgba(var(--dark-blue),0.5);
  color: whitesmoke;
  outline: none;
}

.sidebar .dropdown-menu a {
  display: block;
}
