:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1rem;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --light-gray: 201, 201, 201;
  --dark-gray: 85, 102, 91;
  --light-green: 69, 160, 73;
  --dark-blue: 49, 60, 255;
  --green: #3db166;
  --green-cyan: #66c2a5;
  --blue-logo: #1064ac;
  --olympic-blue: #4a90e2;
  --dark-charcoal: #333;
}

a {
  font-weight: 500;
  color: #006699;
  text-decoration: inherit;
}
a:hover {
  color: #3e86aa;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5;
}

button {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: rgba(var(--dark-gray), 0.2);
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: white;
  padding: 0.75rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s, box-shadow 0.2s;
}

button:hover {
  background-color: rgba(var(--dark-blue), 0.4);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(var(--light-yellow), 0.4);
}
